{% extends 'base.html' %}

{% block content %}
<div class = "spage">
    <form class = "form">
        <div class = "fields">
            <label for = "firstname">First Name</label>
            <input class = "text" type = "text" id = "firstname">
        </div>
        <div class = "fields">
            <label for = "lastname">Last Name</label>
            <input class = "text" type = "text" id = "lastname">
        </div>
        <div class = "fields">
            <label for = "email">Email Id</label>
            <input class = "text" type = "email" id = "email" placeholder = "example@gmail.com">
        </div>
        <div class = "fields">
            <label for = "password">First Name</label>
            <input class = "text" type = "password" id = "password">
        </div>
        <div class = "fields">
            <label for = "firstname">First Name</label>
            <input class = "text" type = "text" id = "firstname">
        </div>
    </form>

</div>

{% endblock content %}
