{% extends 'base.html' %}

{% block content %}
<div class = "spage">
    <form id = "form" method="POST" action="signupform">
        {% csrf_token %}
        <div class = "fields">
            <label for = "firstname">First Name</label>
            <input class = "text" type = "text" id = "firstname">
        </div>
        <div class = "fields">
            <label for = "lastname">Last Name</label>
            <input class = "text" type = "text" id = "lastname">
        </div>
        <div class = "fields">
            <label for = "email">Email Id</label>
            <input class = "text" type = "email" id = "email" placeholder = "example@gmail.com">
        </div>
        <div class = "fields">
            <label for = "phone">Phone No</label>
            <input class = "text" type = "text" id = "phone">
        </div>
        <div class = "fields">
            <label for = "password">Set Password</label>
            <input class = "text" type = "password" id = "password">
        </div>
        <button type="submit">Signup</button>
    </form>

</div>

{% endblock content %}
