.spage{
    margin: 100px 30%;
    padding: 0;
    width: 40%;
    background-color: white;
    border-radius: 30px;
    border: 3px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form{
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    
}
.fields{
    margin: 0.5rem;
    padding: 0.7rem;
   
}
.text{
    padding: 0.7em;
    border: 1px solid rgb(43, 39, 39);
    border-radius: 0.7em;
    font-size: large;
}
#email{
    margin-left: 20px;
}
#phone{
    margin-left: 15px;
}
button{
    width: 100px;
    padding: 10px 15px;
    border-radius: 1em;
    border: none;
    font-size: large;
}
button:hover{
    cursor: pointer;
    background-color: blue;
    color: white;
    border-bottom: 3px solid rgb(39, 35, 35);
}